<h1><%= @team.school %> <%= @team.nickname %> (<%= @team.league %>)</h1>
<p><%= @team.city %>, <%= @team.state %> <%= @team.zip %></p>
<%= link_to "See #{@team.nickname}'s Roster", team_players_path(@team) %> |
<%= link_to 'Back To Teams', teams_path %>

<%= render partial: "games/index" %>