<h1>Create A Game For Your Team</h1>
<h4>Enter in some basic information about the game to access the box score and track your statistics.</h4>

<%= form_for @game, url: {action: "create"} do |f| %>

	<div class="field">
		<%= f.label :date %>
		<%= f.text_field :date %>
	</div>

	<div class="field">
		<%= f.label :location  %>
		<%= f.text_field :location  %>
	</div>
	
	<div class="field">
		<%= f.label :opponent %>
		<%= f.text_field :opponent_id %>
	</div>	

	<div class="field">
		<%= f.label :score %>
		<%= f.text_field :team_score %>
	</div>

	<div class="field">
		<%= f.label :opponent_score %>
		<%= f.text_field :opponent_score %>
	</div>

	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>