<h1><%= link_to "#{@team.school} #{@team.nickname}", team_path(@team) %> vs. <%= link_to "#{@game.opponent.school} #{@game.opponent.nickname}", team_path(@game.opponent) %></h1>
<h3>Location: <%= @game.location %></h3>

<%= render partial: "shared/show_game", locals: {game: @game, team: @game.team} %>


<%= render "shared/stats", game: @game %>
<%= render "shared/adv_stats", game: @game %>
<%= link_to "Back To The #{@team.nickname} Game Log", team_path(@team) %>