<h1><%= @game.team.school %> <%= @game.team.nickname %> vs. <%= @game.opponent.school %> <%= @game.opponent.nickname %></h1>
<h3>(<%= @game.date %> - <%= @game.location %>)</h3>

<table class="table table-striped">
	<tr>
		<th><%= link_to "#{@team.school} #{@team.nickname}", team_path(@team) %>:</th>
		<td><%= @game.team_score %></td>
	</tr>
		<th><%= link_to "#{@game.opponent.school} #{@game.opponent.nickname}", team_path(@team) %>:</th>
		<td><%= @game.opponent_score %></td>
	<tr>
		<th>Result:</th>
		<td><%= @game.result %></td>
	</tr>
</table>
<%= link_to "Back To The #{@team.nickname} Game Log", team_games_path(@team) %>