<h1 align="center">Edit Your Player</h1>

<div align="center"> 
<%= form_for :player, url: team_player_path(@team, @player), method: :patch do |f| %>
 
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited
        this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :firstname %>
	</div>

	<div class="field">
		<%= f.label :last_name  %>
		<%= f.text_field :lastname  %>
	</div>
	
	<div class="field">
		<%= f.label :position %>
		<%= f.text_field :position %>
	</div>

	<div class="field">
		<%= f.label :number %>
		<%= f.text_field :number %>
	</div>

	<div class="field">
		<%= f.label :height %>
		<%= f.text_field :height %>
	</div>	

	<div class="field">
		<%= f.label :weight %>
		<%= f.text_field :weight %>
	</div>

	<div class="actions">
    	<%= f.submit %>
  	</div>
 
<% end %>
</div>

<div align="center">
<%= link_to 'Back To Team', team_path %> | <%= link_to "#{@team.nickname} Roster", team_players_path %> | <%= link_to 'Back To Player Page', team_player_path %>
</div>
