<h1><%= @player.firstname %> <%= @player.lastname %> - #<%= @player.number %></h1>

<table class="table table-striped">
	<tr>
		<th>Team:</th>
		<td><%= link_to "#{@team.school} #{@team.nickname}", team_path(@team) %></td>
	</tr>
	<th>Position:</th>
	<td><%= @player.position %></td>
	<tr>
		<th>Height:</th>
		<td><%= @player.height %> in</td>
	</tr>
	<tr>
		<th>Weight:</th>
		<td><%= @player.weight %> lbs</td>
	</tr>
</table>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Opponent</th>
			<th>Score</th>
			<th>Result</th>
			<th>Minutes</th>
			<th>FG</th>
			<th>FGA</th>
			<th>3P</th>
			<th>3PA</th>
			<th>FT</th>
			<th>FTA</th>
			<th>ORB</th>
			<th>DRB</th>
			<th>TRB</th>
			<th>AST</th>
			<th>STL</th>
			<th>BLK</th>
			<th>TOV</th>
			<th>PF</th>
			<th>PTS</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @player.games.each do |p| %>
			<td><%= p.id %></td>
			<td><%= p.date %></td>
			<td><%= p.opponent.school %> <%= p.opponent.nickname %></td>
			<td><%= p.team_score %> - <%= p.opponent_score %></td>
			<td><%= p.result %></td>
		</tr>
		<% end %>
		<tr>
			<% @player.stats.each do |s| %>
			<td><%= s.game_id %></td>
			<td><%= s.team_id %></td>
			<td><%= s.player_id %></td>
			<td><%= s.minutes %></td>
			<td><%= s.fg %></td>
			<td><%= s.fga %></td>
			<td><%= s.three_p %></td>
			<td><%= s.three_p_a %></td>
			<td><%= s.ft %></td>
			<td><%= s.fta %></td>
			<td><%= s.orb %></td>
			<td><%= s.drb %></td>
			<td><%= s.trb %></td>
			<td><%= s.assists %></td>
			<td><%= s.steals %></td>
			<td><%= s.blocks %></td>
			<td><%= s.turnovers %></td>
			<td><%= s.fouls %></td>
			<td><%= s.points %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Back To The #{@team.nickname} Roster", team_players_path(@team) %>
